<h2 class="home_callout text-center container-fluid">
    Here's how well you would stack up against this article:</h1>
<h1 class="container text-center" id="score">
    <%= @average_score %></h1>
<h4 class="container text-center" id="comment">
    <%= @comment %></h4>